In [2]:
!pip install yfinance

Collecting yfinance
  Obtaining dependency information for yfinance from https://files.pythonhosted.org/packages/e9/43/93ea65227c938a0a4a8925d7f054b050ea743044b887170da9eca210635a/yfinance-0.2.28-py2.py3-none-any.whl.metadata
  Downloading yfinance-0.2.28-py2.py3-none-any.whl.metadata (11 kB)
Collecting pandas>=1.3.0 (from yfinance)
  Obtaining dependency information for pandas>=1.3.0 from https://files.pythonhosted.org/packages/9e/71/756a1be6bee0209d8c0d8c5e3b9fc72c00373f384a4017095ec404aec3ad/pandas-2.0.3-cp311-cp311-win_amd64.whl.metadata
  Downloading pandas-2.0.3-cp311-cp311-win_amd64.whl.metadata (18 kB)
Collecting numpy>=1.16.5 (from yfinance)
  Obtaining dependency information for numpy>=1.16.5 from https://files.pythonhosted.org/packages/72/b2/02770e60c4e2f7e158d923ab0dea4e9f146a2dbf267fec6d8dc61d475689/numpy-1.25.2-cp311-cp311-win_amd64.whl.metadata
  Downloading numpy-1.25.2-cp311-cp311-win_amd64.whl.metadata (5.7 kB)
Collecting requests>=2.31 (from yfinance)
  Obtaining dependency information for requests>=2.31 from https://files.pythonhosted.org/packages/70/8e/0e2d847013cb52cd35b38c009bb167a1a26b2ce6cd6965bf26b47bc0bf44/requests-2.31.0-py3-none-any.whl.metadata
  Downloading requests-2.31.0-py3-none-any.whl.metadata (4.6 kB)
Collecting multitasking>=0.0.7 (from yfinance)
  Downloading multitasking-0.0.11-py3-none-any.whl (8.5 kB)
Collecting lxml>=4.9.1 (from yfinance)
  Obtaining dependency information for lxml>=4.9.1 from https://files.pythonhosted.org/packages/31/58/e3b3dd6bb2ab7404f1f4992e2d0e6926ed40cef8ce1b3bbefd95877499e1/lxml-4.9.3-cp311-cp311-win_amd64.whl.metadata
  Downloading lxml-4.9.3-cp311-cp311-win_amd64.whl.metadata (3.9 kB)
Collecting appdirs>=1.4.4 (from yfinance)
  Downloading appdirs-1.4.4-py2.py3-none-any.whl (9.6 kB)
Collecting pytz>=2022.5 (from yfinance)
  Downloading pytz-2023.3-py2.py3-none-any.whl (502 kB)
     ---------------------------------------- 0.0/502.3 kB ? eta -:--:--
     ------------------------------------  501.8/502.3 kB 15.9 MB/s eta 0:00:01
     ------------------------------------  501.8/502.3 kB 15.9 MB/s eta 0:00:01
     -------------------------------------- 502.3/502.3 kB 5.2 MB/s eta 0:00:00
Collecting frozendict>=2.3.4 (from yfinance)
  Downloading frozendict-2.3.8-py311-none-any.whl (14 kB)
Collecting beautifulsoup4>=4.11.1 (from yfinance)
  Downloading beautifulsoup4-4.12.2-py3-none-any.whl (142 kB)
     ---------------------------------------- 0.0/143.0 kB ? eta -:--:--
     ------------------------------------- -- 133.1/143.0 kB ? eta -:--:--
     -------------------------------------- 143.0/143.0 kB 2.8 MB/s eta 0:00:00
Collecting html5lib>=1.1 (from yfinance)
  Using cached html5lib-1.1-py2.py3-none-any.whl (112 kB)
Collecting soupsieve>1.2 (from beautifulsoup4>=4.11.1->yfinance)
  Downloading soupsieve-2.4.1-py3-none-any.whl (36 kB)
Requirement already satisfied: six>=1.9 in c:\users\john paul\appdata\roaming\python\python311\site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Collecting webencodings (from html5lib>=1.1->yfinance)
  Using cached webencodings-0.5.1-py2.py3-none-any.whl (11 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\john paul\appdata\roaming\python\python311\site-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Collecting tzdata>=2022.1 (from pandas>=1.3.0->yfinance)
  Using cached tzdata-2023.3-py2.py3-none-any.whl (341 kB)
Collecting charset-normalizer<4,>=2 (from requests>=2.31->yfinance)
  Obtaining dependency information for charset-normalizer<4,>=2 from https://files.pythonhosted.org/packages/91/6e/db0e545302bf93b6dbbdc496dd192c7f8e8c3bb1584acba069256d8b51d4/charset_normalizer-3.2.0-cp311-cp311-win_amd64.whl.metadata
  Downloading charset_normalizer-3.2.0-cp311-cp311-win_amd64.whl.metadata (31 kB)
Collecting idna<4,>=2.5 (from requests>=2.31->yfinance)
  Downloading idna-3.4-py3-none-any.whl (61 kB)
     ---------------------------------------- 0.0/61.5 kB ? eta -:--:--
     ---------------------------------------  61.4/61.5 kB ? eta -:--:--
     ---------------------------------------- 61.5/61.5 kB 1.7 MB/s eta 0:00:00
Collecting urllib3<3,>=1.21.1 (from requests>=2.31->yfinance)
  Obtaining dependency information for urllib3<3,>=1.21.1 from https://files.pythonhosted.org/packages/9b/81/62fd61001fa4b9d0df6e31d47ff49cfa9de4af03adecf339c7bc30656b37/urllib3-2.0.4-py3-none-any.whl.metadata
  Downloading urllib3-2.0.4-py3-none-any.whl.metadata (6.6 kB)
Collecting certifi>=2017.4.17 (from requests>=2.31->yfinance)
  Obtaining dependency information for certifi>=2017.4.17 from https://files.pythonhosted.org/packages/4c/dd/2234eab22353ffc7d94e8d13177aaa050113286e93e7b40eae01fbf7c3d9/certifi-2023.7.22-py3-none-any.whl.metadata
  Downloading certifi-2023.7.22-py3-none-any.whl.metadata (2.2 kB)
Downloading yfinance-0.2.28-py2.py3-none-any.whl (65 kB)
   ---------------------------------------- 0.0/65.3 kB ? eta -:--:--
   ------------------------------------- -- 61.4/65.3 kB ? eta -:--:--
   ---------------------------------------- 65.3/65.3 kB 1.2 MB/s eta 0:00:00
Downloading lxml-4.9.3-cp311-cp311-win_amd64.whl (3.8 MB)
   ---------------------------------------- 0.0/3.8 MB ? eta -:--:--
   ----- ---------------------------------- 0.5/3.8 MB 16.8 MB/s eta 0:00:01
   ------------- -------------------------- 1.2/3.8 MB 15.6 MB/s eta 0:00:01
   ------------------- -------------------- 1.9/3.8 MB 14.9 MB/s eta 0:00:01
   -------------------------- ------------- 2.5/3.8 MB 14.6 MB/s eta 0:00:01
   --------------------------------- ------ 3.2/3.8 MB 14.5 MB/s eta 0:00:01
   ---------------------------------------  3.7/3.8 MB 14.1 MB/s eta 0:00:01
   ---------------------------------------  3.8/3.8 MB 14.2 MB/s eta 0:00:01
   ---------------------------------------- 3.8/3.8 MB 10.5 MB/s eta 0:00:00
Downloading numpy-1.25.2-cp311-cp311-win_amd64.whl (15.5 MB)
   ---------------------------------------- 0.0/15.5 MB ? eta -:--:--
   - -------------------------------------- 0.7/15.5 MB 14.4 MB/s eta 0:00:02
   --- ------------------------------------ 1.3/15.5 MB 16.4 MB/s eta 0:00:01
   ----- ---------------------------------- 2.1/15.5 MB 14.8 MB/s eta 0:00:01
   ------- -------------------------------- 2.8/15.5 MB 14.7 MB/s eta 0:00:01
   -------- ------------------------------- 3.4/15.5 MB 14.4 MB/s eta 0:00:01
   ---------- ----------------------------- 4.0/15.5 MB 14.3 MB/s eta 0:00:01
   ------------ --------------------------- 4.7/15.5 MB 14.2 MB/s eta 0:00:01
   ------------- -------------------------- 5.3/15.5 MB 14.2 MB/s eta 0:00:01
   --------------- ------------------------ 6.0/15.5 MB 14.1 MB/s eta 0:00:01
   ----------------- ---------------------- 6.6/15.5 MB 14.1 MB/s eta 0:00:01
   ------------------ --------------------- 7.3/15.5 MB 14.1 MB/s eta 0:00:01
   -------------------- ------------------- 7.9/15.5 MB 14.1 MB/s eta 0:00:01
   --------------------- ------------------ 8.4/15.5 MB 14.1 MB/s eta 0:00:01
   ----------------------- ---------------- 9.2/15.5 MB 14.1 MB/s eta 0:00:01
   ------------------------- -------------- 9.8/15.5 MB 13.9 MB/s eta 0:00:01
   --------------------------- ------------ 10.5/15.5 MB 13.9 MB/s eta 0:00:01
   ---------------------------- ----------- 11.1/15.5 MB 13.9 MB/s eta 0:00:01
   ----------------------------- ---------- 11.3/15.5 MB 13.6 MB/s eta 0:00:01
   ----------------------------- ---------- 11.3/15.5 MB 13.6 MB/s eta 0:00:01
   ------------------------------ --------- 11.8/15.5 MB 12.1 MB/s eta 0:00:01
   -------------------------------- ------- 12.8/15.5 MB 12.4 MB/s eta 0:00:01
   ------------------------------------ --- 14.1/15.5 MB 13.4 MB/s eta 0:00:01
   -------------------------------------- - 14.9/15.5 MB 13.4 MB/s eta 0:00:01
   ---------------------------------------  15.5/15.5 MB 13.4 MB/s eta 0:00:01
   ---------------------------------------  15.5/15.5 MB 13.4 MB/s eta 0:00:01
   ---------------------------------------  15.5/15.5 MB 13.4 MB/s eta 0:00:01
   ---------------------------------------  15.5/15.5 MB 13.4 MB/s eta 0:00:01
   ---------------------------------------  15.5/15.5 MB 13.4 MB/s eta 0:00:01
   ---------------------------------------  15.5/15.5 MB 13.4 MB/s eta 0:00:01
   ---------------------------------------- 15.5/15.5 MB 10.1 MB/s eta 0:00:00
Downloading pandas-2.0.3-cp311-cp311-win_amd64.whl (10.6 MB)
   ---------------------------------------- 0.0/10.6 MB ? eta -:--:--
   -- ------------------------------------- 0.6/10.6 MB 18.5 MB/s eta 0:00:01
   ---- ----------------------------------- 1.2/10.6 MB 15.8 MB/s eta 0:00:01
   ------- -------------------------------- 1.9/10.6 MB 15.0 MB/s eta 0:00:01
   -------- ------------------------------- 2.4/10.6 MB 15.2 MB/s eta 0:00:01
   ------------ --------------------------- 3.2/10.6 MB 14.7 MB/s eta 0:00:01
   -------------- ------------------------- 3.9/10.6 MB 14.5 MB/s eta 0:00:01
   ----------------- ---------------------- 4.5/10.6 MB 14.4 MB/s eta 0:00:01
   ------------------- -------------------- 5.1/10.6 MB 14.1 MB/s eta 0:00:01
   --------------------- ------------------ 5.8/10.6 MB 14.3 MB/s eta 0:00:01
   ------------------------ --------------- 6.5/10.6 MB 14.2 MB/s eta 0:00:01
   -------------------------- ------------- 7.1/10.6 MB 14.1 MB/s eta 0:00:01
   ----------------------------- ---------- 7.8/10.6 MB 14.2 MB/s eta 0:00:01
   ------------------------------- -------- 8.3/10.6 MB 14.0 MB/s eta 0:00:01
   ---------------------------------- ----- 9.0/10.6 MB 14.1 MB/s eta 0:00:01
   ------------------------------------ --- 9.7/10.6 MB 14.1 MB/s eta 0:00:01
   -------------------------------------- - 10.3/10.6 MB 13.9 MB/s eta 0:00:01
   ---------------------------------------  10.6/10.6 MB 13.6 MB/s eta 0:00:01
   ---------------------------------------  10.6/10.6 MB 13.6 MB/s eta 0:00:01
   ---------------------------------------  10.6/10.6 MB 13.6 MB/s eta 0:00:01
   ---------------------------------------  10.6/10.6 MB 13.6 MB/s eta 0:00:01
   ---------------------------------------  10.6/10.6 MB 13.6 MB/s eta 0:00:01
   ---------------------------------------- 10.6/10.6 MB 10.4 MB/s eta 0:00:00
Downloading requests-2.31.0-py3-none-any.whl (62 kB)
   ---------------------------------------- 0.0/62.6 kB ? eta -:--:--
   ---------------------------------------  61.4/62.6 kB ? eta -:--:--
   ---------------------------------------- 62.6/62.6 kB 1.1 MB/s eta 0:00:00
Downloading certifi-2023.7.22-py3-none-any.whl (158 kB)
   ---------------------------------------- 0.0/158.3 kB ? eta -:--:--
   -------------------------------------- - 153.6/158.3 kB ? eta -:--:--
   ---------------------------------------- 158.3/158.3 kB 2.4 MB/s eta 0:00:00
Downloading charset_normalizer-3.2.0-cp311-cp311-win_amd64.whl (96 kB)
   ---------------------------------------- 0.0/96.6 kB ? eta -:--:--
   -------------------------------------- - 92.2/96.6 kB ? eta -:--:--
   ---------------------------------------- 96.6/96.6 kB 1.9 MB/s eta 0:00:00
Downloading urllib3-2.0.4-py3-none-any.whl (123 kB)
   ---------------------------------------- 0.0/123.9 kB ? eta -:--:--
   ---------------------------------------- 123.9/123.9 kB 2.4 MB/s eta 0:00:00
Installing collected packages: webencodings, pytz, multitasking, appdirs, urllib3, tzdata, soupsieve, numpy, lxml, idna, html5lib, frozendict, charset-normalizer, certifi, requests, pandas, beautifulsoup4, yfinance
Successfully installed appdirs-1.4.4 beautifulsoup4-4.12.2 certifi-2023.7.22 charset-normalizer-3.2.0 frozendict-2.3.8 html5lib-1.1 idna-3.4 lxml-4.9.3 multitasking-0.0.11 numpy-1.25.2 pandas-2.0.3 pytz-2023.3 requests-2.31.0 soupsieve-2.4.1 tzdata-2023.3 urllib3-2.0.4 webencodings-0.5.1 yfinance-0.2.28

In [5]:
!pip install tqdm

Collecting tqdm
  Obtaining dependency information for tqdm from https://files.pythonhosted.org/packages/00/e5/f12a80907d0884e6dff9c16d0c0114d81b8cd07dc3ae54c5e962cc83037e/tqdm-4.66.1-py3-none-any.whl.metadata
  Downloading tqdm-4.66.1-py3-none-any.whl.metadata (57 kB)
     ---------------------------------------- 0.0/57.6 kB ? eta -:--:--
     ----------------------------------- ---- 51.2/57.6 kB 2.6 MB/s eta 0:00:01
     ---------------------------------------- 57.6/57.6 kB 1.0 MB/s eta 0:00:00
Requirement already satisfied: colorama in c:\users\john paul\appdata\roaming\python\python311\site-packages (from tqdm) (0.4.6)
Downloading tqdm-4.66.1-py3-none-any.whl (78 kB)
   ---------------------------------------- 0.0/78.3 kB ? eta -:--:--
   ------------------------------------ --- 71.7/78.3 kB ? eta -:--:--
   ---------------------------------------- 78.3/78.3 kB 1.5 MB/s eta 0:00:00
Installing collected packages: tqdm
Successfully installed tqdm-4.66.1

In [1]:
# import dependencies
import yfinance as yf
import pandas as pd
import datetime
import os
from tqdm import tqdm

In [2]:
# scrape all stock data from Y FInance website
url = 'https://finance.yahoo.com/world-indices'
tables = pd.read_html(url)
world_stocks = tables[0]
world_stocks

,Symbol,Name,Last Price,Change,% Change,Volume,Intraday High/Low,52 Week Range,Day Chart
0,^GSPC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,^DJI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,^IXIC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,^NYA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,^XAX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,^BUK100P,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,^RUT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,^VIX,Vix,17.89,0.00,0.00%,NaN,NaN,NaN,NaN
8,^FTSE,FTSE 100,7278.41,-31.80,-0.44%,NaN,NaN,NaN,NaN
9,^GDAXI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,^FCHI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,^STOXX50E,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,^N100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,^BFX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,IMOEX.ME,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,^N225,Nikkei 225,31450.76,-175.24,-0.55%,NaN,NaN,NaN,NaN
16,^HSI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,000001.SS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,399001.SZ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,^STI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,^AXJO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,^AORD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,^BSESN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,^JKSE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,^KLSE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,^NZ50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,^KS11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,^TWII,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,^GSPTSE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,^BVSP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,^MXX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,^IPSA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,^MERV,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,^TA125.TA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,^CASE30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,^JN0U.JO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
def fetch_data(ticker_symbol):
    try:
        ticker = yf.Ticker(ticker_symbol)
        today = datetime.date.today().strftime('%Y-%m-%d')
        data = ticker.history(start="1900-01-01", end=today)
        data.reset_index(inplace=True)
        data['ticker'] = ticker_symbol 
        return data
    except Exception as e:
        print(f"Error fetching data for {ticker_symbol}: {e}")
        return None

In [17]:
all_data = []
for symbol in tqdm(world_stocks['Symbol'], desc="Saving individual datasets"):  # tqdm progress bar!
    single_data = fetch_data(symbol)
    if single_data is not None:
        all_data.append(single_data)
    
# Concatenate all the individual datasets into one
master_data_origin = pd.concat(all_data, ignore_index=True)
master_data_origin

Saving individual datasets:  94%|█████████▍| 34/36 [00:19<00:00,  2.24it/s]^CASE30: 1d data not available for startTime=-2208996300 and endTime=1692306000. Only 100 years worth of day granularity data are allowed to be fetched per request.
Saving individual datasets: 100%|██████████| 36/36 [00:19<00:00,  1.83it/s]

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,ticker,Adj Close
0,1927-12-30 00:00:00-05:00,17.660000,17.660000,17.660000,17.660000,0.0,0.0,0.0,^GSPC,NaN
1,1928-01-03 00:00:00-05:00,17.760000,17.760000,17.760000,17.760000,0.0,0.0,0.0,^GSPC,NaN
2,1928-01-04 00:00:00-05:00,17.719999,17.719999,17.719999,17.719999,0.0,0.0,0.0,^GSPC,NaN
3,1928-01-05 00:00:00-05:00,17.549999,17.549999,17.549999,17.549999,0.0,0.0,0.0,^GSPC,NaN
4,1928-01-06 00:00:00-05:00,17.660000,17.660000,17.660000,17.660000,0.0,0.0,0.0,^GSPC,NaN
...,...,...,...,...,...,...,...,...,...,...
283938,2023-08-11 00:00:00+02:00,4117.830078,4119.009766,4051.540039,4066.860107,0.0,0.0,0.0,^JN0U.JO,NaN
283939,2023-08-14 00:00:00+02:00,4042.120117,4061.399902,3945.500000,3979.110107,0.0,0.0,0.0,^JN0U.JO,NaN
283940,2023-08-15 00:00:00+02:00,3983.780029,3994.810059,3906.199951,3933.360107,0.0,0.0,0.0,^JN0U.JO,NaN
283941,2023-08-16 00:00:00+02:00,3944.840088,3944.840088,3867.570068,3911.010010,0.0,0.0,0.0,^JN0U.JO,NaN
283942,2023-08-17 00:00:00+02:00,3890.179932,3920.449951,3857.129883,3887.399902,0.0,0.0,0.0,^JN0U.JO,NaN

In [5]:
# Checking any missing values per column and per rows
def data_checking(master_data_check):
    # Identify NaN or empty values
    missing_values = master_data_check.isna().sum()

    # Identify incorrect value types
    incorrect_types = master_data_check.apply(lambda x: pd.to_numeric(x, errors='coerce').isna().sum())

    # Combine the results into a DataFrame
    cleaning_report = pd.DataFrame({'Missing Values': missing_values, 'Incorrect Types': incorrect_types})

    return cleaning_report

In [6]:
data_checking(master_data_origin)

              Missing Values  Incorrect Types
Date                       0           283943
Open                       0                0
High                       0                0
Low                        0                0
Close                      0                0
Volume                     0                0
Dividends                  0                0
Stock Splits               0                0
ticker                     0           283943
Adj Close             283943           283943

In [27]:
# Copy the dataframe
master_data = master_data_origin.copy()

In [28]:
# Drop off the Adj Close column
master_data = master_data.drop(columns=['Adj Close'])

# Correct the Date column data type
master_data['Date'] = pd.to_datetime(master_data['Date'], utc = True)
master_data.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,ticker
0,1927-12-30 05:00:00+00:00,17.660000,17.660000,17.660000,17.660000,0.0,0.0,0.0,^GSPC
1,1928-01-03 05:00:00+00:00,17.760000,17.760000,17.760000,17.760000,0.0,0.0,0.0,^GSPC
2,1928-01-04 05:00:00+00:00,17.719999,17.719999,17.719999,17.719999,0.0,0.0,0.0,^GSPC
3,1928-01-05 05:00:00+00:00,17.549999,17.549999,17.549999,17.549999,0.0,0.0,0.0,^GSPC
4,1928-01-06 05:00:00+00:00,17.660000,17.660000,17.660000,17.660000,0.0,0.0,0.0,^GSPC

In [36]:
# rearrange the columns and remove the hour from the date
master_data = master_data[['ticker', 'Date', 'Open', 'High', 'Low', 'Close', 'Volume']]
master_data['Date'] = pd.to_datetime((master_data['Date']).dt.date)

# remove '^' from the ticker
master_data['ticker'] = master_data['ticker'].str.replace('^', '').astype(str)
master_data

,ticker,Date,Open,High,Low,Close,Volume
0,GSPC,1927-12-30,17.660000,17.660000,17.660000,17.660000,0.0
1,GSPC,1928-01-03,17.760000,17.760000,17.760000,17.760000,0.0
2,GSPC,1928-01-04,17.719999,17.719999,17.719999,17.719999,0.0
3,GSPC,1928-01-05,17.549999,17.549999,17.549999,17.549999,0.0
4,GSPC,1928-01-06,17.660000,17.660000,17.660000,17.660000,0.0
...,...,...,...,...,...,...,...
283938,JN0U.JO,2023-08-10,4117.830078,4119.009766,4051.540039,4066.860107,0.0
283939,JN0U.JO,2023-08-13,4042.120117,4061.399902,3945.500000,3979.110107,0.0
283940,JN0U.JO,2023-08-14,3983.780029,3994.810059,3906.199951,3933.360107,0.0
283941,JN0U.JO,2023-08-15,3944.840088,3944.840088,3867.570068,3911.010010,0.0
283942,JN0U.JO,2023-08-16,3890.179932,3920.449951,3857.129883,3887.399902,0.0

In [37]:
master_data.dtypes

ticker            object
Date      datetime64[ns]
Open             float64
High             float64
Low              float64
Close            float64
Volume           float64
dtype: object

In [38]:
data_checking(master_data)

        Missing Values  Incorrect Types
ticker               0           283943
Date                 0                0
Open                 0                0
High                 0                0
Low                  0                0
Close                0                0
Volume               0                0

In [ ]:
# Save the master dataframe to a CSV file
master_data.to_csv('Data\master_stock_data.csv', index=False)